<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Classic Login Form Example</title>
    <link
      href="https://fonts.googleapis.com/css?family=Assistant:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..//css/form.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <section class="login" id="login">
      <div class="head">
        <h1 class="company">Universe Explorer</h1>
      </div>
      <p style="color: #fff"><%= message %></p>
      <p class="msg">Welcome back</p>
      <div class="form">
        <form>
          <input
            type="text"
            name="email"
            placeholder="Username"
            class="text"
            id="username"
            required
          /><br />
          <input
            type="password"
            name="password"
            placeholder="••••••••••••••"
            class="password"
          /><br />
          <a href="#" class="btn-login" id="do-login">Login</a>
          <button type="submit">Login</button>
          <a href="#" class="forgot">Forgot?</a>
        </form>
      </div>
    </section>

    <!-- partial -->
    <script>
      var btnLogin = document.getElementById("do-login");
      var idLogin = document.getElementById("login");
      var username = document.getElementById("username");
      btnLogin.onclick = function () {
        idLogin.innerHTML =
          "<p>We're happy to see you again, </p><h1>" +
          username.value +
          "</h1>";
      };
    </script>
  </body>
</html>
