<!-- ========= -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="..//css/form.css" />
</head>
<body>
  <section class="login" id="login">
    <div class="head">
      <h1 class="company">Mew Explorer</h1>
    </div>
    <p class="msg">Welcome :D</p>
    <div class="form">
      <form method="post" action="/user/singup">
        <input
          type="email"
          placeholder="Example@gmail.com"
          class="text"
          id="username"
          name="email"
          required
        /><br />
        <input
          type="password"
          placeholder="password"
          class="password"
          name="password"
        /><br />
        <input
          type="password"
          placeholder="confirm password"
          class="password"
          name="confirmpassword"
        /><br /><br />
        <!-- <a class="btn-login" id="do-login" type="submit">Login</a> -->
        <button class="btn-login" type="submit">Sing Up</button>
        <a href="#" class="forgot">Forgot?</a>
      </form>
      <!-- show validation yup in page -->
      <%- include("./include/validationForm.ejs") %>
    </div>
  </section>

  <script src="..//js/form.js"></script>
</body>
